{% extends "music/base.html" %}
{% block title %}Band {{ band.name }}{% endblock %}
{% block content %}


{% load music_extras%}

<h1>{{band.name}} </h1>
{% if band.record_set.all %}
<ul>
{% for record in band.record_set.all|sort_by:'-release_date' %}
<li>{{record.release_date}}: <a href="{% url 'music:record' record.slug%}"> {{record.title}}</a> at {{record.label_fk}} </li>
{% endfor %}
</ul>
{% else %}
<p>No records available<p>
{%endif%}
{% if band.track_set.all %}
Recently featured tracks:
<ul>
{% for track in band.track_set.all|sort_by:'-number' %}
<li><i>{{track.name}}</i> on <a href="{% url 'music:record' track.record_fk.slug%}"> {{track.record_fk.title}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No features so far<p>
{%endif%}
{% endblock %}

