<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Wilkmusic{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href={% url 'music:index'%}>Wilkmusic</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        {%comment %}<li><a href={% url 'music:userPanel' %}>My stuff</a></li> {% endcomment %}
        <li><a href={% url 'music:band_list' 1%}>Bands</a></li>
        <li><a href={% url 'music:record_list' 1%}>Records</a></li>
        <li><a href={% url 'music:genre_list' 1%}>Genres</a></li>
        <li><a href={% url 'music:label_list' 1%}>Labels</a></li>
        {%comment %}<li><a href={% url 'music:contact'%}>Contact</a></li> {% endcomment %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.get_username%}
        <li><a href="{% url 'music:userPanel' %}"> {{user.get_username}}</a></li>
        {% endif %}
        {% if user.get_username%}
        <li><a href={% url 'logout' %}><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
        <li><a href={% url 'login' %}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block jumbo%}{% endblock %}
{% block content %}{% endblock %}

<footer class="container-fluid text-center">
  <p>2017, Jakub Wilkowski</p>
</footer>

</body>
</html>
