{% extends "music/base.html" %}
{% block title %}Genre list{% endblock %}
{% block content %}

<h1>Browse available genres:</h1>
{%if objects %}
<ul>
{% for object in objects %}
<li><a href={% url 'music:genre' object.id %}>{{ object.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>Oups! There are no genres at the time</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href={% url 'music:genre_list' objects.previous_page_number %}>previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href={% url 'music:genre_list' objects.next_page_number %}>next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
