{% extends "music/base.html" %}
{% block title %}Record/{{ record.title }}{% endblock %}
{% block content %}


<h1>{{record.title}} <i>({{record.release_date}})</i> </h1>
<h2>by 
{% for band in record.bands.all %}
<i><a href="{% url 'music:band' band.id %}">{{band.name}}</a></i>{% if not forloop.last%}, {% endif %}
{% endfor %}
{% if tracks%}
</h2>
<ul>
{% for track in tracks %}
{{track.number}}. {{track.name}} [{{track.length|time:"i:s" }}]<br>
{% endfor %}
</ul>
{% else %}
<p>No tracks available</p>
{% endif %}


{% if band_records%}
See other records by 
{% for band in record.bands.all %}
<i><a href="{% url 'music:band' band.id %}">{{band.name}}</a></i>{% if not forloop.last%}, {% endif %}
{% endfor %}:<br>
<ul>
{% for all_record in band_records%}
{% if all_record.id != 123 %}
<li><a href={% url 'music:record' all_record.id %}>{{ all_record.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% else %}
No more {{record.band_fk.name}} records available
{% endif %}

{% endblock %}
