{% extends "music/base_list.html" %}
{% block title %}Record list{% endblock %}
{% block name %}Records {% endblock %}
{% block content %}
{% load static%}
{% if objects %}
<div class="container-fluid bg-3 text-center">    
  <div class="row">

  {% for object in objects %}
    
  {% if forloop.counter0|divisibleby:3 %}
    </div>
</div><br>
  <div class="container-fluid bg-3 text-center">    
  <div class="row">
  {% endif %}
  
    <div class="col-sm-3">
      {% if object.image %}
      <a href={% url 'music:record' object.slug %}><img src="{{ object.image.url }}" class="img-responsive" style="width:100%" alt="Image"></a>
      {% else %}
      <a href={% url 'music:record' object.slug %}><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></a>
      {% endif %}
      <p><a href={% url 'music:record' object.slug %}>{{object.title}}</a></p>
    </div>
    {% endfor%}
  </div>
</div><br>
{% else %}
<p>Oups! There are no records at the time</p>
{% endif %}



<div class="container text-center">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href={% url 'music:record_list' objects.previous_page_number %}>previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href={% url 'music:record_list' objects.next_page_number %}>next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
