{% extends "music/base.html" %}
{% block title %}Record/{{ record.title }}{% endblock %}
{% block content %}

<h1>{{record.title}} <i>({{record.release_date}})</i> </h1>
<h2>by 
{% for band in record.bands.all %}
<i><a href="{% url 'music:band' band.id %}">{{band.name}}</a></i>{% if not forloop.last%}, {% endif %}
{% endfor %}
</h2>
{% if tracks%}
<ul>
{% for track in tracks %}
{{track.number}}. {{track.name}}{% if track.feat.all %} (featuring: {% for feats in track.feat.all%}<a href={% url 'music:band' feats.id %}>{{feats.name}}</a>{%if not forloop.last%}, {%endif%}{%endfor%}){%endif%} [{{track.length|time:"i:s" }}]<br>
{% endfor %}
</ul>
{% else %}
<p>No tracks available</p>
{% endif %}


<h2>Other users thougths on this record</h2>
{% for review in reviews %}
<p><b>{{ review.create_by.username }}</b> wrote on {{review.create_date|date:"j M Y" }} {{ review.create_date|time:"H:i" }}:<br> 
{{ review.review_text }}</p>
{% empty%}
<p>There are no reviews yet.</p>
{% endfor %}

{% if own_review %}
<h2>Here's your review (<a href={% url 'music:edit_review' own_review.id %}>edit</a>):</h2>
<p><b>{{ own_review.create_by.username }}</b> wrote on {{own_review.create_date|date:"j M Y" }} {{ own_review.create_date|time:"H:i" }}:<br>
{{ own_review.review_text }}</p>
{% else %}
{% if user.get_username %}
<a href={% url 'music:add_review' record.id %}>Leave your opinion on {{record.title}}</a>
{% else %}
<p><a href="{% url 'login' %}">Log in</a> to write reviews</p>
{% endif %}
{% endif %}


{% if band_records%}
<h2>See other records by{% for band in record.bands.all %}
<i><a href="{% url 'music:band' band.id %}">{{band.name}}</a></i>{% if not forloop.last%}, {% endif %}
{% endfor %}:</h2>
<ul>
{% for all_record in band_records%}
<li><a href={% url 'music:record' all_record.id %}>{{ all_record.title }}</a></li>
{% endfor %}
</ul>
{% else %}
No more records available from {% for band in record.bands.all %}
<i><a href="{% url 'music:band' band.id %}">{{band.name}}</a></i>{% if not forloop.last%}, {% endif %}
{% endfor %}
{% endif %}



{% endblock %}
