{% extends "music/base.html" %}
{% block title %}Record/{{ record.title }}{% endblock %}
{% block content %}



<h1>{{record.title}} <i>({{record.release_date}})</i> {{ record.get_avg_score }}/5</h1>
<h2>by 
{% for band in record.bands.all %}
<i><a href="{% url 'music:band' band.slug %}">{{band.name}}</a></i>{% if not forloop.last%}, {% endif %}
{% endfor %}
</h2>
{% if record.get_related_tracks%}
<ul>
{% for track in record.get_related_tracks %}
{{track.number}}. {{track.name}}{% if track.feat.all %} (featuring: {% for feats in track.feat.all%}<a href={% url 'music:band' feats.slug %}>{{feats.name}}</a>{%if not forloop.last%}, {%endif%}{%endfor%}){%endif%} [{{track.length|time:"i:s" }}]<br>
{% endfor %}
</ul>
{% else %}
<p>No tracks available</p>
{% endif %}


<h2>Other users thougths on this record</h2>
{% if related_reviews %}
{% for review in related_reviews %}
<p><b>{{ review.create_by.username }}</b> wrote on {{review.create_date|date:"j M Y" }} {{ review.create_date|time:"H:i" }}:<br> 
{{ review.score}}/5 - {{ review.review_text }}</p>
{% empty%}
<p>There are no reviews yet.</p>
{% endfor %}
{% endif %}


{% if user_review %}
<h2>Here's your review (<a href={% url 'music:edit_review' user_review.id %}>edit</a>):</h2>
<p><b>{{ user_review.create_by.username }}</b> wrote on {{user_review.create_date|date:"j M Y" }} {{ user_review.create_date|time:"H:i" }}:<br>
{{ user_review.score}}/5 - {{ user_review.review_text }}</p>
{% else %}
{% if user.get_username %}
<a href={% url 'music:add_review' record.id %}>Leave your opinion on {{record.title}}</a>
{% else %}
<p><a href="{% url 'login' %}">Log in</a> to write reviews</p>
{% endif %}
{% endif %}


{% if record.get_bands_other_records%}
<h2>See other records by{% for band in record.bands.all %}
<i><a href="{% url 'music:band' band.slug %}">{{band.name}}</a></i>{% if not forloop.last%}, {% endif %}
{% endfor %}:</h2>
<ul>
{% for all_record in record.get_bands_other_records%}
<li><a href={% url 'music:record' all_record.slug %}>{{ all_record.title }}</a></li>
{% endfor %}
</ul>
{% else %}
No more records available from {% for band in record.bands.all %}
<i><a href="{% url 'music:band' band.slug %}">{{band.name}}</a></i>{% if not forloop.last%}, {% endif %}
{% endfor %}
{% endif %}



{% endblock %}
